/*________________CARDS_____________________*/

.cards {
  padding: 0 0 120px 0;
}

.cards__bottom {
  padding: 120px 0;
}

.cards__header {
  font: 500 60px/100% 'IBM Plex Sans';
  text-align: center;
  color: #1F1D1F;
  margin-bottom: 50px;
}

.cards__link-block {
  display: block;
  font: 400 18px/23px 'IBM Plex Sans';
  text-decoration-line: underline;
  color: #1F1D1F;
  margin-top: 20px;
}

.cards-wrapper {
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
}

.cards-wrapper__blocks {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -50px;
}

.cards-wrapper__outer {
  width: calc((100%/12)*4);
  padding: 0 50px;
}

.cards-wrapper__img {
  width: 100%;
  margin-bottom: 15px;
}

.cards-wrapper__img img {
  width: 100%;
}

.cards-wrapper__title {
  font: 600 22px/40px 'IBM Plex Sans';
  color: #1F1D1F;
}

.cards-wrapper__text {
  font: 400 16px/21px 'IBM Plex Sans';
  color: #888888;
  max-width: 400px;
}

.cards-wrapper__btn {
  display: block;
  font: 400 22px/110% 'IBM Plex Sans';
  color: #F7F9FB;
  background: #DF570E;
  padding: 15px 40px;
  outline: none;
  border: none;
  margin: 50px auto 0 auto;
  cursor: pointer;
}

.cards-wrapper__link {
  display: block;
  font: 400 18px/120% 'IBM Plex Sans';
  text-align: center;
  text-decoration-line: underline;
  margin-top: 23px;
  color: #1F1D1F;
}

.cards-wrapper__outer.cards-wrapper__outer-mobile {
  display: none;
}

@media screen and (max-width: 1540px) {
  .cards-wrapper {
    padding: 0 40px;
  }

  .cards-wrapper__blocks {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
  }

  .cards-wrapper__outer {
    width: calc((100%/12)*4);
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    padding: 0 0 80px 0;
  }

  .cards-wrapper__title {
    font: 600 18px/40px 'IBM Plex Sans';
    color: #1F1D1F;
  }

  .cards-wrapper {
    padding: 0 0;
  }

  .cards-wrapper__text {
    font: 400 12px/21px 'IBM Plex Sans';
    color: #888888;
    max-width: 400px;
  }

  .cards__header {
    font: 700 22px/100% 'IBM Plex Sans';
    margin-bottom: 30px;
  }

  .cards__link-block {
    font: 400 11px/14px 'IBM Plex Sans';
    margin-top: 10px;
  }

  .cards__bottom {
    padding: 0 0 30px 0;
  }

  .cards-wrapper__btn {
    font: 400 16px/120% 'IBM Plex Sans';
    padding: 14px 20px;
    margin: 50px auto 0 auto;
  }

  .cards-wrapper__link {
    font: 400 12px/120% 'IBM Plex Sans';
    margin-top: 20px;
  }

  .cards-wrapper__outer {
    width: calc((100%/12)*4);
    padding: 0 5px;
  }

  .cards-wrapper__outer.cards-wrapper__outer-mobile {
    display: block;
  }

  .cards .slick-dots.slider__dots li.slick-active {
    opacity: 1;
    width: 41px;
    height: 5px;
  }

  .cards .slick-dots.slider__dots li button:before {
    color: transparent;
    font-size: 20px;
    opacity: 1;
    width: 19px;
    height: 5px;
    line-height: 18px;
  }

  .cards .slick-dots.slider__dots li.slick-active button:before {
    color: transparent;
    background: #DF570E;
    border-radius: 20px;
    opacity: 1;
    width: 41px;
    height: 5px;
  }

  .cards .slick-dots.slider__dots li.slick-active button {
    color: transparent;
    background: #DF570E;
    border-radius: 20px;
    opacity: 1;
    width: 41px;
    height: 5px;
  }

  .cards .slick-dots.slider__dots li button {
    color: transparent;
    background: #7B7B7B;
    border-radius: 20px;
    width: 19px;
    height: 5px;
    padding: 0;
  }

  .cards .slick-dots.slider__dots li {
    color: transparent;
    width: 19px;
    height: 5px;
  }

  .cards .slick-list.draggable {
    padding: 0 36px !important;
  }
}

