.gallery {
  padding: 80px 0 0 0;
}

.gallery__title {
  font: 500 60px/100% 'IBM Plex Sans';
  text-align: center;
  color: #1F1D1F;
  margin-bottom: 25px;
}

.rental-list__scroll {
  overflow: auto;
}

.gallery__item {
  display: flex;
  align-items: flex-start;
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0;
  padding-bottom: 20px;
}

.gallery__item::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

.gallery__item::-webkit-scrollbar-track {
  background: #F7F7F9;
  border-radius: 20px;
}

.gallery__item::-webkit-scrollbar-thumb {
  background: #DF570E;
  border-radius: 20px;
}

.gallery__item-blocks1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 30px;
  width: auto;
}

.gallery__item-block1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  width: auto;
}

.gallery__item1 {
  width: 620px;
  height: 300px;
  margin-right: 30px;
}

.gallery__item2 {
  width: 441px;
  height: 300px;
}

.gallery__item-block2 {
  display: flex;
  align-items: flex-start;
  width: auto;
}

.gallery__item3 {
  width: 300px;
  height: 300px;
  margin-right: 25px;
}

.gallery__item4 {
  width: 441px;
  height: 300px;
  margin-right: 25px;
}

.gallery__item5 {
  width: 300px;
  height: 300px;
}

.gallery__item-blocks2 {
  display: flex;
  align-items: flex-start;
  width: auto;
}

.gallery__item6 {
  width: 620px;
  height: 620px;
  margin-right: 30px;
}

.gallery__item-block3 {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-right: 30px;
}

.gallery__item-block3.gallery__item-block3_end {
  margin-right: 0;
}

.gallery__item7 {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}

.gallery__item8 {
  width: 300px;
  height: 300px;
}

.gallery__item img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1300px) {
  .gallery__item1 {
    width: 400px;
    height: 200px;
  }

  .gallery__item2 {
    width: 300px;
    height: 200px;
  }

  .gallery__item3 {
    width: 200px;
    height: 200px;
  }

  .gallery__item4 {
    width: 280px;
    height: 200px;
  }

  .gallery__item5 {
    width: 200px;
    height: 200px;
  }

  .gallery__item6 {
    width: 420px;
    height: 420px;
  }

  .gallery__item7 {
    width: 200px;
    height: 200px;
  }

  .gallery__item8 {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .gallery__title {
    font: 700 22px/100% 'IBM Plex Sans';
    margin-bottom: 30px;
    padding: 0 20px;
  }

  .gallery__item {
    padding: 0 20px 10px 20px;
  }

  .gallery__item::-webkit-scrollbar {
    height: 5px;
  }

  .gallery__item-blocks1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 10px;
    width: auto;
  }

  .gallery__item-block1 {
    display: flex;
    align-items: flex-start;
    margin-bottom: 7px;
    width: auto;
  }

  .gallery__item1 {
    width: 225px;
    height: 109px;
    margin-right: 11px;
  }

  .gallery__item2 {
    width: 161px;
    height: 109px;
  }

  .gallery__item-block2 {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }

  .gallery__item3 {
    width: 109px;
    height: 109px;
    margin-right: 9px;
  }

  .gallery__item4 {
    width: 161px;
    height: 109px;
    margin-right: 9px;
  }

  .gallery__item5 {
    width: 109px;
    height: 109px;
  }

  .gallery__item-blocks2 {
    display: flex;
    align-items: flex-start;
    width: auto;
  }

  .gallery__item6 {
    width: 226px;
    height: 226px;
    margin-right: 11px;
  }

  .gallery__item-block3 {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .gallery__item7 {
    width: 109px;
    height: 109px;
    margin-bottom: 7px;
  }

  .gallery__item8 {
    width: 109px;
    height: 109px;
  }
}