.works {
  width: 100%;
  padding: 50px 0 150px 0;
  background: #F7F7F9;
}

.works__wrapper {
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
}

.works__title {
  font: 500 60px/100% 'IBM Plex Sans';
  text-align: center;
  color: #1F1D1F;
  margin-bottom: 50px;
}

.works__items {
  width: 100%;
}

.works__item {
  width: calc((100%/12)*4);
  padding: 0 50px;
}

.works__item-img {
  width: 100%;
}

.works__item-img img {
  width: 100%;
}

.works-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.works-info__brand {
  font: 600 22px/40px 'IBM Plex Sans';
  color: #1F1D1F;
}

.works-info__year {
  font: 400 16px/21px 'IBM Plex Sans';
  color: #888888;
}

.works-info__range {
  display: block;
  font: 400 16px/21px 'IBM Plex Sans';
  color: #888888;
  margin-bottom: 20px;
}

.works-info__link {
  font: 400 18px/23px 'IBM Plex Sans';
  text-decoration-line: underline;
  color: #1F1D1F;
  cursor: pointer;
}

.prev-work__left {
  position: absolute;
  top: 50%;
  left: -100px;
  cursor: pointer;
  margin-top: -50px;
}

.prev-work__right {
  position: absolute;
  top: 50%;
  right: -100px;
  cursor: pointer;
  margin-top: -50px;
}

.works .slick-dots.slider__dots {
  bottom: -100px;
}

.works .slick-dots.slider__dots li.slick-active {
  opacity: 1;
  width: 120px;
  height: 5px;
}

.works .slick-dots.slider__dots li button:before {
  color: transparent;
  font-size: 20px;
  opacity: 1;
  width: 60px;
  height: 5px;
  line-height: 18px;
}

.works .slick-dots.slider__dots li.slick-active button:before {
  color: transparent;
  background: #DF570E;
  border-radius: 20px;
  opacity: 1;
  width: 120px;
  height: 5px;
}

.works .slick-dots.slider__dots li.slick-active button {
  color: transparent;
  background: #DF570E;
  border-radius: 20px;
  opacity: 1;
  width: 120px;
  height: 5px;
}

.works .slick-dots.slider__dots li button {
  color: transparent;
  background: #7B7B7B;
  border-radius: 20px;
  width: 60px;
  height: 5px;
  padding: 0;
}

.works .slick-dots.slider__dots li {
  color: transparent;
  width: 60px;
  height: 5px;
}

.cards .slick-list.draggable {
  padding: 0 36px !important;
}

@media screen and (max-width: 1800px) {
  .works__wrapper {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1500px) {
  .works__wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1270px) {
  .works__wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .works {
    width: 100%;
    padding: 0 0 50px 0;
    background: #ffffff;
  }

  .works__title {
    font: 700 22px/110% 'IBM Plex Sans';
    margin-bottom: 30px;
  }

  .works-info {
    margin-bottom: 0;
  }

  .works-info__year {
    font: 400 12px/16px 'IBM Plex Sans';
  }

  .works-info__range {
    font: 400 16px/21px 'IBM Plex Sans';
    margin-bottom: 10px;
  }

  .works-info__link {
    font: 400 12px/120% 'IBM Plex Sans';
    text-decoration-line: underline;
  }

  .works__item {
    width: 100%;
    padding: 0 20px;
  }

  .works .slick-dots.slider__dots {
    bottom: -35px;
  }

  .works .slick-dots.slider__dots li.slick-active {
    width: 41px;
  }

  .works .slick-dots.slider__dots li button:before {
    width: 19px;
    height: 5px;
  }

  .works .slick-dots.slider__dots li.slick-active button:before {
    width: 41px;
  }

  .works .slick-dots.slider__dots li.slick-active button {
    width: 41px;
  }

  .works .slick-dots.slider__dots li button {
    width: 19px;
  }

  .works .slick-dots.slider__dots li {
    width: 19px;
  }
}

