@import "_elements.css";
@import "_promo.css";
@import "_innovation.css";
@import "_cause.css";
@import "_cards.css";
@import "_equipment.css";
@import "_questions.css";
@import "_video.css";
@import "_works.css";
@import "_stages.css";
@import "_entry.css";
@import "_form.css";
@import "_gallery.css";
@import "_modal-works.css";
@import "_modal-cards.css";

* {
  box-sizing: border-box;
}

.mirfar-landing {
  overflow: hidden;
}

p, h2, h3, h4, h5, ul {
  margin: 0;
}